@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css');

*{
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
    font-family: 'Merriweather', serif;
    color: var(--color-dark);
}

body {
    background-color: var(--color-bg);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

.Title i {
    transition: all .3s ease;
}

.Title:hover i {
    color: var(--color-orange);
}

.Tbody td {
    padding: 10px;
    text-align: center;
    font-size: 0.85rem;
}

.Vertical i {
    font-size: 1.2rem;
    transition: all .4s ease;
}

.Vertical i:hover {
    color: var(--color-main);
}

:root {
    --color-main: #562b62;
    --color-green: #1b9215;
    --color-golden: #c1b283;
    --color-light: #f9efe9;
    --color-dark: #383838;
    --color-bg: #f4f4f4;
    --color-gray: #4d4d4d;
    --color-bg-dark: #383838;
    /* Toast */
    --color-danger: #a70a1f;
    --color-success: var(--color-main);
}
